<div class="login-main">
  <div>
    <button
      type="submit"
      class="btn btn-dark login-button"
      style="width: 20%; padding-right: auto"
      (click)="goBackToDashboard()"
    >
      < Back
    </button>
  </div>
  <div class="modal-top">
    <img class="tavisca-logo" src="../../../assets/logos/icon-employees.svg" />
    <p class="text-main">Update Member Details</p>
    <form
      class="login-form"
      [formGroup]="addEmployeeForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="text-align-left">
        <label>Employee Type</label>
      </div>
      <div class="mb-3">
        <div class="input-group input-border">
          <select
            formControlName="type"
            class="form-control border-none"
            style="font-family: 'gilroy-semibold'"
            [ngClass]="{ 'is-invalid': submitted && form['type'].errors }"
          >
            <option value="reader">Reader</option>
            <option value="writer">Writer</option>
            <option value="admin">Admin</option>
          </select>
        </div>
        <div
          *ngIf="submitted && form['type'].errors"
          class="input-error text-align-left"
        >
          <div *ngIf="form['type'].errors['required']">type is required</div>
        </div>
      </div>

      <div class="text-align-left">
        <label>User active status </label>
      </div>
      <div class="mb-3">
        <div class="input-group input-border">
          <select
            formControlName="activestatus"
            class="form-control border-none"
            style="font-family: 'gilroy-semibold'"
            [ngClass]="{
              'is-invalid': submitted && form['activestatus'].errors
            }"
          >
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </div>
      </div>

      <div class="text-align-left">
        <label>Member Mobile Number</label>
      </div>
      <div class="mb-3">
        <div class="input-group input-border">
          <div
            class="input-group-prepend border-none"
            style="align-self: center"
          >
            <i class="bi bi-envelope input-icon-size"></i>
          </div>
          <input
            type="text"
            id="mmobile"
            style="margin-left: 3px"
            class="input-box form-control border-none"
            placeholder="Employee mmobile"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="mmobile"
            maxlength="10"
            minlength="10"
            [ngClass]="{ 'is-invalid': submitted && form['mmobile'].errors }"
          />
        </div>
        <div class="input-error text-align-left">
          <div *ngIf="submitted && form['mmobile'].errors">
            <div *ngIf="form['mmobile'].errors['required']">
              mmobile is required
            </div>
            <div *ngIf="form['mmobile'].errors['minLength']">
              invalid mmobile
            </div>
          </div>
        </div>
      </div>
      <div class="text-align-left">
        <label>Member FirstName</label>
      </div>
      <div class="mb-3">
        <div class="input-group input-border">
          <div
            class="input-group-prepend border-none"
            style="align-self: center"
          >
            <i class="bi bi-lock input-icon-size"></i>
          </div>
          <input
            type="text"
            style="margin: auto 3px"
            class="input-box form-control border-none"
            placeholder="Member firstname"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="firstname"
            [ngClass]="{ 'is-invalid': submitted && form['firstname'].errors }"
          />
        </div>
        <div
          *ngIf="submitted && form['firstname'].errors"
          class="input-error text-align-left"
        >
          <div *ngIf="form['firstname'].errors['required']">required</div>
        </div>
      </div>
      <div class="text-align-left">
        <label>Member MiddleName</label>
      </div>
      <div class="mb-3">
        <div class="input-group input-border">
          <div
            class="input-group-prepend border-none"
            style="align-self: center"
          >
            <i class="bi bi-lock input-icon-size"></i>
          </div>
          <input
            type="text"
            style="margin: auto 3px"
            class="input-box form-control border-none"
            placeholder="Member middleName"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="middlename"
            [ngClass]="{ 'is-invalid': submitted && form['middlename'].errors }"
          />
        </div>
        <div
          *ngIf="submitted && form['middlename'].errors"
          class="input-error text-align-left"
        >
          <div *ngIf="form['middlename'].errors['required']">required</div>
        </div>
      </div>
      <div class="text-align-left">
        <label>Member LastName</label>
      </div>
      <div class="mb-3">
        <div class="input-group input-border">
          <div
            class="input-group-prepend border-none"
            style="align-self: center"
          >
            <i class="bi bi-lock input-icon-size"></i>
          </div>
          <input
            type="text"
            style="margin: auto 3px"
            class="input-box form-control border-none"
            placeholder="Member lastname"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="lastname"
            [ngClass]="{ 'is-invalid': submitted && form['lastname'].errors }"
          />
        </div>
        <div
          *ngIf="submitted && form['lastname'].errors"
          class="input-error text-align-left"
        >
          <div *ngIf="form['lastname'].errors['required']">required</div>
        </div>
      </div>
      <div class="text-align-left">
        <label>Member Shares</label>
      </div>
      <div class="mb-3">
        <div class="input-group input-border">
          <div
            class="input-group-prepend border-none"
            style="align-self: center"
          >
            <i class="bi bi-lock input-icon-size"></i>
          </div>
          <input
            type="text"
            style="margin: auto 3px"
            class="input-box form-control border-none"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="shares"
            [ngClass]="{ 'is-invalid': submitted && form['shares'].errors }"
          />
        </div>
        <div
          *ngIf="submitted && form['shares'].errors"
          class="input-error text-align-left"
        >
          <div *ngIf="form['shares'].errors['required']">required</div>
        </div>
      </div>
      <div class="text-align-left">
        <label>Total Premium Paid</label>
      </div>
      <div class="mb-3">
        <div class="input-group input-border">
          <div
            class="input-group-prepend border-none"
            style="align-self: center"
          >
            <i class="bi bi-lock input-icon-size"></i>
          </div>
          <input
            type="text"
            style="margin: auto 3px"
            class="input-box form-control border-none"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="premiumpaid"
            [ngClass]="{
              'is-invalid': submitted && form['premiumpaid'].errors
            }"
          />
        </div>
        <div
          *ngIf="submitted && form['premiumpaid'].errors"
          class="input-error text-align-left"
        >
          <div *ngIf="form['premiumpaid'].errors['required']">required</div>
        </div>
      </div>
      <div class="text-align-left">
        <label>Total Interest Paid</label>
      </div>
      <div class="mb-3">
        <div class="input-group input-border">
          <div
            class="input-group-prepend border-none"
            style="align-self: center"
          >
            <i class="bi bi-lock input-icon-size"></i>
          </div>
          <input
            type="text"
            style="margin: auto 3px"
            class="input-box form-control border-none"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="interestpaid"
            [ngClass]="{
              'is-invalid': submitted && form['interestpaid'].errors
            }"
          />
        </div>
        <div
          *ngIf="submitted && form['interestpaid'].errors"
          class="input-error text-align-left"
        >
          <div *ngIf="form['interestpaid'].errors['required']">required</div>
        </div>
      </div>
      <div class="text-align-left">
        <label>Total Penalty Paid</label>
      </div>
      <div class="mb-3">
        <div class="input-group input-border">
          <div
            class="input-group-prepend border-none"
            style="align-self: center"
          >
            <i class="bi bi-lock input-icon-size"></i>
          </div>
          <input
            type="text"
            style="margin: auto 3px"
            class="input-box form-control border-none"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="penaltypaid"
            [ngClass]="{
              'is-invalid': submitted && form['penaltypaid'].errors
            }"
          />
        </div>
        <div
          *ngIf="submitted && form['penaltypaid'].errors"
          class="input-error text-align-left"
        >
          <div *ngIf="form['penaltypaid'].errors['required']">required</div>
        </div>
      </div>
      <div class="text-align-left">
        <label>Loan Amount</label>
      </div>
      <div class="mb-3">
        <div class="input-group input-border">
          <div
            class="input-group-prepend border-none"
            style="align-self: center"
          >
            <i class="bi bi-lock input-icon-size"></i>
          </div>
          <input
            type="text"
            style="margin: auto 3px"
            class="input-box form-control border-none"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="loanamount"
            [ngClass]="{
              'is-invalid': submitted && form['loanamount'].errors
            }"
          />
        </div>
        <div
          *ngIf="submitted && form['loanamount'].errors"
          class="input-error text-align-left"
        >
          <div *ngIf="form['loanamount'].errors['required']">required</div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-dark login-button"
        style="margin-bottom: 1%"
      >
        Update Member
      </button>
    </form>
  </div>
  <div
    class="modal modal-bottom"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: doneDisplayStyle }"
    (click)="closeDonePopup()"
  >
    <div class="card card-modal">
      <div class="card-widget-body">
        <img
          class="card-modal-icon"
          src="../../../assets/logos/icon-done.svg"
        />
        <p class="card-modal-text">Entry Successful</p>
      </div>
    </div>
  </div>
  <div
    class="modal modal-bottom"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: somethingWentWrongStyle }"
    (click)="closeErrorPopup()"
  >
    <div class="card card-modal">
      <div class="card-widget-body">
        <img
          class="card-modal-icon"
          src="../../../assets/logos/icon-exclamation-mark.svg"
        />
        <p class="card-modal-text">Something Went Wrong</p>
      </div>
    </div>
  </div>
  <div
    class="modal modal-bottom"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: loadingDisplayStyle }"
  >
    <div class="card card-modal">
      <div class="card-widget-body">
        <img class="card-modal-icon" src="../../../assets/gifs/spinner.gif" />
        <p class="card-modal-text">Please Wait</p>
      </div>
    </div>
  </div>
</div>
