<div class="login-main">
  <img class="tavisca-logo" src="../../../assets/logos/app-logo.svg" />
  <form
    class="login-form"
    [formGroup]="updatePasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="text-align-left">
      <label>Enter Password</label>
    </div>
    <div class="mb-3">
      <div class="input-group input-border">
        <div class="input-group-prepend border-none" style="align-self: center">
          <i class="bi bi-lock input-icon-size"></i>
        </div>
        <input
          type="text"
          id="email"
          style="margin-left: 3px"
          class="input-box form-control border-none"
          placeholder="Enter Password"
          aria-label="Username"
          aria-describedby="basic-addon1"
          formControlName="password"
          maxlength="8"
          [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
        />
      </div>
      <div class="input-error text-align-left">
        <div *ngIf="submitted && form['password'].errors">
          <div *ngIf="form['password'].errors['required']">
            please fill input
          </div>
        </div>
      </div>
    </div>
    <div class="text-align-left">
      <label>Confirm Password</label>
    </div>
    <div class="mb-3">
      <div class="input-group input-border">
        <div class="input-group-prepend border-none" style="align-self: center">
          <i class="bi bi-lock input-icon-size"></i>
        </div>
        <input
          type="text"
          style="margin: auto 3px"
          class="input-box form-control border-none"
          placeholder="Confirm Password"
          aria-label="Username"
          aria-describedby="basic-addon1"
          formControlName="cpassword"
          maxlength="8"
          [ngClass]="{ 'is-invalid': submitted && form['cpassword'].errors }"
        />
      </div>
      <div
        *ngIf="submitted && form['cpassword'].errors"
        class="input-error text-align-left"
      >
        <div *ngIf="form['cpassword'].errors['required']">
          please fill input
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-dark login-button">
      <div
        *ngIf="authenticationService.isLoading"
        style="height: 1rem; width: 1rem"
        class="spinner-border"
        role="status"
      ></div>
      <span *ngIf="!authenticationService.isLoading"> Update Password</span>
    </button>
  </form>
</div>
