<div class="passcode-main">
  <img class="tavisca-logo" src="../../../assets/logos/tavisca-logo.svg" />
  <p *ngIf="isFirstPasscode" class="heading-text">Create Passcode</p>
  <p *ngIf="!isFirstPasscode" class="heading-text">Confirm Passcode</p>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onCreatePasscode()"
  >
    <div class="input-error text-align-left">
      <div *ngIf="!isValuesSame" style="text-align: center;">
        Passwords must be same
      </div>
    </div>
    <div class="passcode-container">
      <input
        class="passcode-field"
        type="number"
        inputmode="numeric"
        [maxlength]="1"
        id="1"
        name="11"
        formControlName="one"
        (focus)="onFocus('1')"
        (keyup)="onKey($event)"
      />
      <input
        class="passcode-field"
        type="number"
        inputmode="numeric"
        [maxlength]="1"
        id="2"
        name="2"
        formControlName="two"
        (focus)="onFocus('2')"
        (keyup)="onKey($event)"
      />
      <input
        class="passcode-field"
        type="number"
        inputmode="numeric"
        [maxlength]="1"
        id="3"
        name="3"
        formControlName="three"
        (focus)="onFocus('3')"
        (keyup)="onKey($event)"
      />
      <input
        class="passcode-field"
        type="number"
        inputmode="numeric"
        id="4"
        name="4"
        ngModel
        maxlength="1"
        formControlName="four"
        (focus)="onFocus('4')"
        (keyup)="onKey($event)"
      />
    </div>
    <button 
    [disabled]="form['one'].errors || form['two'].errors || form['three'].errors || form['four'].errors"
    type="submit" 
    class="btn btn-dark login-button passcode-btn">
      <div *ngIf="isFirstPasscode" class="mb-0">Create Passcode</div>
      <div *ngIf="!isFirstPasscode" class="mb-0">Confirm Passcode</div>
    </button>
  </form>
</div>
