<div class="dashboard-main">
  <div class="fit-content">
    <p class="main-text">Analytics</p>
  </div>
  <div class="row-dashboard">
    <div class="card card-left-bg-color" (click)="goToAssociationAnalytics()">
      <div class="card-widget-body">
        <img
          class="card-widget-icon"
          src="../../../assets/logos/icon-reader.svg"
        />
        <p class="card-widget-text">Association Details</p>
      </div>
    </div>
    <div class="card card-right-bg-color" (click)="goToMemberAnalytics()">
      <div class="card-widget-body">
        <img
          class="card-widget-icon"
          src="../../../assets/logos/icon-employees.svg"
        />
        <p class="card-widget-text">Members Details</p>
      </div>
    </div>
  </div>
</div>
