@import "../common/form.scss";
$mobile : 800px;
@media screen and (max-width: $mobile) {
    .tavisca-logo{
        margin-bottom: 15%;
        width: 50%;
    }
    .login-form{
        width: 80%;
        margin: var(--margin-center);
    }
}