@import "../../authentication/common/form.scss";
@import "../../general-settings/common/modal.scss";
@import "../../dashboard/reader-dashboard/reader-dashboard.component.scss";

.login-main {
  text-align: center;
  margin-top: 7vh;
  color: vr(--widget-text-color);
  font-family: var(--);
}
.tavisca-logo {
  width: 15%;
  margin-bottom: 0%;
}
.text-main {
  margin-bottom: 2%;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1px;
}
.dropdown-menu {
  font-family: var(--gilroy-semibold);
}

$mobile: 800px;
@media screen and (max-width: $mobile) {
  .tavisca-logo {
    width: 50%;
  }
  .text-main {
    margin-bottom: 7%;
  }
  .login-form {
    width: 80%;
    margin: var(--margin-center);
  }
}
