@import "../../authentication/login/login.component.scss";
@import "../../dashboard/writer-dashboard/writer-dashboard.component.scss";

.search-box{
    width: 60%;
    margin: var(--margin-center);
    margin-bottom: 5%;
}
.search-inner{
    width: 86%;
    margin: var(--margin-center);
}
.search-text{
    margin-bottom: 0%;
    text-align: left;
}
$mobile : 800px;
@media screen and (max-width: $mobile) {
    .search-box{
        width: 100%;
    }
}