<div class="dashboard-main">
    <div class="search-box">
      <div class="search-inner">
      <p class="search-text">Select Date</p>
      <div class="input-group input-border">
          <div class="input-group-prepend border-none" style="align-self:center">
            <i class="bi bi-calendar-date input-icon-size"></i>
          </div>
          <input
            type="date"
            id="email"
            style="margin-left:3px"
            class="input-box form-control border-none"
            placeholder="Select Date"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="email"
          />
      </div>
    </div>
    </div>
    <p class="main-text">Vehicle Entries</p>
    <div class="row-dashboard">
        <div class="card-vehicle-entry">
        <div class="card-body">
            <img
            class="vehicle-entry-icon"
            src="../../../assets/logos/icon-bike.svg"
            />
            <p class="card-vehicle-entry-text">8 : 24 : 13 AM</p>
            <img
            class="vehicle-entry-icon delete-icon"
            src="../../../assets/logos/icons-remove.svg"
            />
        </div>
        </div>
    </div>
    <div class="row-dashboard">
        <div class="card-vehicle-entry">
        <div class="card-body">
            <img
            class="vehicle-entry-icon"
            src="../../../assets/logos/icon-car.svg"
            />
            <p class="card-vehicle-entry-text">8 : 24 : 13 AM</p>
            <img
            class="vehicle-entry-icon delete-icon"
            src="../../../assets/logos/icons-remove.svg"
            />
        </div>
        </div>
    </div>
</div>
