.employee-entry-text {
  font-weight: 500;
  color: var(--widget-text-color);
  margin-bottom: 0;
  align-self: center;
  font-size: 100%;
}

.card-vehicle-entry {
  width: 86%;
}
.employee-list {
  height: 55vh;
  overflow: scroll;
}
.employee-list::-webkit-scrollbar {
  display: none;
}
.add-employee-btn {
  width: 92%;
  margin: var(--margin-center);
}
.add-employee-btn-bottom {
  position: fixed;
  bottom: 2vh;
  right: 0px;
  left: 0px;
}
