@import "../common/dashboard.scss";
@import "../../general-settings/common/loader.scss";
@import "../../general-settings/common/modal.scss";
.welcome-text{
    color: var(--widget-text-color);
    font-weight: 500;
    font-size: 120%;
    margin-bottom: 0;
    margin: auto;
}

.welcome-box{
    @extend .row-dashboard;
}
.icon-setting{
    margin-right: 10%;
    margin-left: auto;
}
$mobile : 400px;
@media screen and (max-width: $mobile) {
    .btn-down{
        margin-top: 5%;
    }
}