<div class="dashboard-main">
  <div class="modal-top">
    <div class="welcome-box">
      <p class="welcome-text">Welcome, {{ readerService.userName }}</p>
      <img
      *ngIf="readerService.isReaderDashboardDataLoaded"
        class="icon-setting"
        (click)="openSettingPopup()"
        src="../../../assets/logos/icon-settings.svg"
      />
    </div>

    <div class="fit-content">
      <p class="main-text">Realtime Parking Status</p>
    </div>
    <div class="row-dashboard">
      <div class="card card-car">
        <div class="card-widget-body">
          <img
            class="card-widget-icon"
            src="../../../assets/logos/icon-car.svg"
          />
          <p
            class="card-widget-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.dashboardData.currentCarCount }} Slots Available
          </p>
        </div>
      </div>
      <div class="card card-bike">
        <div class="card-widget-body">
          <img
            class="card-widget-icon"
            src="../../../assets/logos/icon-bike.svg"
          />
          <p
            class="card-widget-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.dashboardData.currentBikeCount }} Slots Available
          </p>
        </div>
      </div>
    </div>
    <div class="fit-content">
      <p class="main-text">You can get a slot if you reach in</p>
    </div>
    <div class="row-dashboard">
      <div class="card card-car">
        <div class="card-widget-body">
          <p
            class="card-widget-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.dashboardData.carSafeTime }}
          </p>
        </div>
      </div>
      <div class="card card-bike">
        <div class="card-widget-body">
          <p
            class="card-widget-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.dashboardData.bikeSafeTime }}
          </p>
        </div>
      </div>
    </div>
    <div class="fit-content">
      <p class="main-text">After 15 Minutes</p>
    </div>
    <div class="row-dashboard">
      <div class="card card-car">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.dashboardData.nextFifteenMinutes.carCount }} Slots
          </p>
          <p class="card-widget-text">will be available</p>
        </div>
      </div>
      <div class="card card-bike">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.dashboardData.nextFifteenMinutes.bikeCount }} Slots
          </p>
          <p class="card-widget-text">will be available</p>
        </div>
      </div>
    </div>
    <div class="fit-content">
      <p class="main-text">After 30 Minutes</p>
    </div>
    <div class="row-dashboard">
      <div class="card card-car">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.dashboardData.nextThirtyMinutes.carCount }} Slots
          </p>
          <p class="card-widget-text">will be available</p>
        </div>
      </div>
      <div class="card card-bike">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.dashboardData.nextThirtyMinutes.bikeCount }} Slots
          </p>
          <p class="card-widget-text">will be available</p>
        </div>
      </div>
    </div>
    <div class="fit-content">
      <p class="main-text">After 1 Hours</p>
    </div>
    <div class="row-dashboard">
      <div class="card card-car">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.dashboardData.nextOneHour.carCount }} Slots
          </p>
          <p class="card-widget-text">will be available</p>
        </div>
      </div>
      <div class="card card-bike">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.dashboardData.nextOneHour.bikeCount }} Slots
          </p>
          <p class="card-widget-text">will be available</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal modal-bottom"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: settingsPopUpStyle }"
    (click)="closeSettingPopup()"
  >
    <div class="card card-modal">
      <div class="card-widget-body">
        <img
          class="card-modal-icon"
          src="../../../assets/logos/icon-exclamation-mark.svg"
        />
        <p class="card-modal-text">{{ readerService.userName }}</p>
        <p class="card-modal-text">{{ readerService.useEmail }}</p>
        <div class="">
          <button
            type="submit"
            class="btn btn-dark"
            (click)="goToChangePassword()"
          >
            Change Password
          </button>
          <button
            type="submit"
            class="btn btn-dark btn-down"
            style="margin-left: 5%"
            (click)="logOut()"
          >
            Log Out
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
