<div class="dashboard-main">
  <div class="modal-top">
    <div class="welcome-box">
      <p class="welcome-text" *ngIf="readerService.isReaderDashboardDataLoaded">
        Welcome, {{ readerService.memberData.FirstName }}
      </p>
      <img
        *ngIf="readerService.isReaderDashboardDataLoaded"
        class="icon-setting"
        (click)="openSettingPopup()"
        src="../../../assets/logos/icon-settings.svg"
      />
    </div>

    <div class="fit-content">
      <p class="main-text">Brahamani Bachat Mandal</p>
    </div>
    <div class="row-dashboard">
      <div
        class="card"
        [ngClass]="
          readerService.userCurrentMonthData.PremiumStatus
            ? 'card-col-green'
            : 'card-col-red'
        "
      >
        <div class="card-widget-body">
          <p
            class="card-widget-header-text-white"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.userCurrentMonthData.Premium }} Rs
          </p>

          <p class="card-widget-text-white">Premium need to pay</p>
        </div>
      </div>
      <div
        class="card"
        [ngClass]="
          readerService.userCurrentMonthData.InterestStatus
            ? 'card-col-green'
            : 'card-col-red'
        "
      >
        <div class="card-widget-body">
          <p
            class="card-widget-header-text-white"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.userCurrentMonthData.InterestAmount }} Rs
          </p>
          <p class="card-widget-text-white">interest need to pay</p>
        </div>
      </div>
    </div>
    <div class="row-dashboard">
      <div
        class="card"
        [ngClass]="
          readerService.userCurrentMonthData.PenaltyPaid == 0
            ? 'card-col-center-green'
            : 'card-col-center-red'
        "
      >
        <div class="card-widget-body">
          <p
            class="card-widget-header-text-white"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.userCurrentMonthData.PenaltyPaid }} Rs
          </p>
          <p class="card-widget-text-white">Penalty need to pay</p>
        </div>
      </div>
    </div>
    <div class="fit-content">
      <p class="main-text">Your Details</p>
    </div>
    <div class="row-dashboard">
      <div class="card-big-size card card-car">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.memberData.Shares }}
          </p>
          <p class="card-widget-text">Total Shares</p>
        </div>
      </div>
      <div class="card-big-size card card-bike">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.memberData.PremiumPaid }} Rs
          </p>
          <p class="card-widget-text">Total Premium Paid</p>
        </div>
      </div>
    </div>
    <div class="fit-content">
      <p class="main-text">Loan Details</p>
    </div>
    <div class="row-dashboard">
      <div class="card card-car">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.memberData.LoanAmount }} Rs
          </p>
          <p class="card-widget-text">Loan amount</p>
        </div>
      </div>
      <div class="card card-bike">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.memberData.InterestPaid }} Rs
          </p>
          <p class="card-widget-text">interest paid</p>
        </div>
      </div>
    </div>
    <div class="row-dashboard">
      <div class="card card-center">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.memberData.PenaltyPaid }} Rs
          </p>
          <p class="card-widget-text">Penalty paid</p>
        </div>
      </div>
    </div>
    <div class="fit-content">
      <p class="main-text">Next Month Details</p>
    </div>
    <div class="row-dashboard">
      <div class="card card-car">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{
              readerService.memberData.Shares *
                readerService.associationData.SharePrice
            }}
            Rs
          </p>
          <p class="card-widget-text">Premium</p>
        </div>
      </div>
      <div class="card card-bike">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{
              (readerService.memberData.LoanAmount *
                readerService.associationData.InterestRate) /
                100
            }}
            Rs
          </p>
          <p class="card-widget-text">interest</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal modal-bottom"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: settingsPopUpStyle }"
    (click)="closeSettingPopup()"
  >
    <div class="card card-modal">
      <div class="card-widget-body">
        <img
          class="card-modal-icon"
          src="../../../assets/logos/icon-exclamation-mark.svg"
        />
        <p class="card-modal-text">{{ readerService.userName }}</p>
        <p class="card-modal-text">{{ readerService.useEmail }}</p>
        <div class="">
          <button
            type="submit"
            class="btn btn-dark"
            (click)="goToChangePassword()"
          >
            Change Password
          </button>
          <button
            type="submit"
            class="btn btn-dark btn-down"
            style="margin-left: 5%"
            (click)="logOut()"
          >
            Log Out
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
