<div class="dashboard-main">
  <div class="modal-top">
    <div class="row-dashboard">
      <button
        type="submit"
        class="btn btn-dark login-button"
        style="margin-left: 7%"
        (click)="goToMemberRoleScreen()"
        *ngIf="
          readerService.memberRole != null &&
          readerService.memberRole != readerRole
        "
      >
        < {{ readerService.memberRole }} screen
      </button>
      <div style="margin-left: auto; margin-right: 7%">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="switchLanguage()"
        >
          {{ readerService.appLanguage }}
        </button>
      </div>
    </div>
    <div class="welcome-box">
      <p class="welcome-text" *ngIf="readerService.isReaderDashboardDataLoaded">
        Welcome, {{ readerService.memberData.FirstName }}
      </p>
      <img
        *ngIf="readerService.isReaderDashboardDataLoaded"
        class="icon-setting"
        (click)="openSettingPopup()"
        src="../../../assets/logos/icon-settings.svg"
      />
    </div>

    <div class="fit-content" *ngIf="readerService.isReaderDashboardDataLoaded">
      <p class="main-text">{{ readerService.associationData.Name }}</p>
    </div>
    <div class="fit-content">
      <p class="main-text">{{ languageClass.CurrentMonthStatus }}</p>
    </div>
    <div class="row-dashboard">
      <div
        class="card"
        [ngClass]="
          readerService.userCurrentMonthData != null &&
          readerService.userCurrentMonthData.PremiumStatus
            ? 'card-col-green'
            : 'card-col-red'
        "
      >
        <div
          class="card-widget-body"
          *ngIf="readerService.isReaderDashboardDataLoaded"
        >
          <p class="card-widget-header-text-white">
            {{ readerService.userCurrentMonthData.Premium }} Rs
          </p>

          <p class="card-widget-text-white">
            {{
              readerService.userCurrentMonthData.PremiumStatus
                ? languageClass.PremiumPaid
                : languageClass.PremiumNeedsToPay
            }}
          </p>
        </div>
      </div>
      <div
        class="card"
        [ngClass]="
          readerService.userCurrentMonthData != null &&
          readerService.userCurrentMonthData.InterestStatus
            ? 'card-col-green'
            : 'card-col-red'
        "
      >
        <div
          class="card-widget-body"
          *ngIf="readerService.isReaderDashboardDataLoaded"
        >
          <p class="card-widget-header-text-white">
            {{ readerService.userCurrentMonthData.InterestAmount }} Rs
          </p>
          <p class="card-widget-text-white">
            {{
              readerService.userCurrentMonthData.InterestStatus
                ? languageClass.InterestPaid
                : languageClass.InterestNeedsToPay
            }}
          </p>
        </div>
      </div>
    </div>
    <div class="row-dashboard">
      <div
        class="card"
        [ngClass]="
          readerService.isReaderDashboardDataLoaded &&
          readerService.userCurrentMonthData.InterestStatus
            ? 'card-col-center-green'
            : 'card-col-center-red'
        "
      >
        <div
          class="card-widget-body"
          *ngIf="readerService.isReaderDashboardDataLoaded"
        >
          <p class="card-widget-header-text-white">
            {{ readerService.userCurrentMonthData.PenaltyPaid }} Rs
          </p>
          <p class="card-widget-text-white">{{ languageClass.PenaltyPaid }}</p>
        </div>
      </div>
    </div>
    <div class="fit-content">
      <p class="main-text">{{ languageClass.YourDetails }}</p>
    </div>
    <div class="row-dashboard">
      <div class="card-big-size card card-car">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.memberData.Shares }}
          </p>
          <p class="card-widget-text">{{ languageClass.TotalShares }}</p>
        </div>
      </div>
      <div class="card card-bike">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{
              readerService.memberData.InterestPaid +
                readerService.memberData.PremiumPaid +
                readerService.memberData.TotalPenaltyPaid
            }}
            Rs
          </p>
          <p class="card-widget-text">{{ languageClass.TotalMoneyPaid }}</p>
        </div>
      </div>
    </div>
    <div class="row-dashboard">
      <div class="card card-car">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.memberData.TotalPenaltyPaid }} Rs
          </p>
          <p class="card-widget-text">{{ languageClass.TotalPenaltyPaid }}</p>
        </div>
      </div>
      <div class="card-big-size card card-bike">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.memberData.PremiumPaid }} Rs
          </p>
          <p class="card-widget-text">{{ languageClass.TotalPremiumPaid }}</p>
        </div>
      </div>
    </div>
    <div class="fit-content">
      <p class="main-text">{{ languageClass.LoanDetails }}</p>
    </div>
    <div class="row-dashboard">
      <div class="card card-car">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.memberData.LoanAmount }} Rs
          </p>
          <p class="card-widget-text">{{ languageClass.LoanAmount }}</p>
        </div>
      </div>
      <div class="card card-bike">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{ readerService.memberData.InterestPaid }} Rs
          </p>
          <p class="card-widget-text">{{ languageClass.TotalInterestPaid }}</p>
        </div>
      </div>
    </div>
    <div class="fit-content">
      <p class="main-text">{{ languageClass.NextMonthDetails }}</p>
    </div>
    <div class="row-dashboard">
      <div class="card card-car">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{
              readerService.memberData.Shares *
                readerService.associationData.SharePrice
            }}
            Rs
          </p>
          <p class="card-widget-text">{{ languageClass.Premium }}</p>
        </div>
      </div>
      <div class="card card-bike">
        <div class="card-widget-body">
          <p
            class="card-widget-header-text"
            *ngIf="readerService.isReaderDashboardDataLoaded"
          >
            {{
              (readerService.memberData.LoanAmount *
                readerService.associationData.InterestRate) /
                100
            }}
            Rs
          </p>
          <p class="card-widget-text">{{ languageClass.Interest }}</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal modal-bottom"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: settingsPopUpStyle }"
    (click)="closeSettingPopup()"
  >
    <div class="card card-modal">
      <div class="card-widget-body">
        <img
          class="card-modal-icon"
          src="../../../assets/logos/icon-exclamation-mark.svg"
        />
        <p class="card-modal-text">{{ readerService.userName }}</p>
        <p class="card-modal-text">{{ readerService.useEmail }}</p>
        <div class="">
          <button
            type="submit"
            class="btn btn-dark"
            (click)="goToChangePassword()"
          >
            Change Password
          </button>
          <button
            type="submit"
            class="btn btn-dark btn-down"
            style="margin-left: 5%"
            (click)="logOut()"
          >
            Log Out
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
