<div class="dashboard-main">
  <div class="row-dashboard">
    <div style="margin-left: auto; margin-right: 7%">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="switchLanguage()"
      >
        {{ adminService.appLanguage }}
      </button>
    </div>
  </div>
  <div class="fit-content">
    <p class="main-text">Admin Screen</p>
  </div>
  <div class="row-dashboard">
    <div class="card card-left-bg-color" (click)="goToReader()">
      <div class="card-widget-body">
        <img
          class="card-widget-icon"
          src="../../../assets/logos/icon-reader.svg"
        />
        <p class="card-widget-text">{{ languageClass.MemberDashboard }}</p>
      </div>
    </div>
    <div class="card card-right-bg-color" (click)="goToWriter()">
      <div class="card-widget-body">
        <img
          class="card-widget-icon"
          src="../../../assets/logos/icon-writer.svg"
        />
        <p class="card-widget-text">{{ languageClass.ManagementDashboard }}</p>
      </div>
    </div>
  </div>
  <div class="row-dashboard">
    <div class="card card-left-bg-color" (click)="gotoUpdateTables()">
      <div class="card-widget-body">
        <img
          class="card-widget-icon"
          src="../../../assets/logos/icon-vehicle-history.svg"
        />
        <p class="card-widget-text">{{ languageClass.UpdateTables }}</p>
      </div>
    </div>
    <div class="card card-right-bg-color" (click)="showEmployeeList()">
      <div class="card-widget-body">
        <img
          class="card-widget-icon"
          src="../../../assets/logos/icon-employees.svg"
        />
        <p class="card-widget-text">{{ languageClass.ManageMembers }}</p>
      </div>
    </div>
  </div>
  <div class="row-dashboard">
    <div class="card card-left-bg-color" (click)="goToAnalytics()">
      <div class="card-widget-body">
        <img
          class="card-widget-icon"
          src="../../../assets/logos/icon-analytics.svg"
        />
        <p class="card-widget-text">{{ languageClass.Analytics }}</p>
      </div>
    </div>
    <div class="card card-right-bg-color" (click)="gotoConfiguration()">
      <div class="card-widget-body">
        <img
          class="card-widget-icon"
          src="../../../assets/logos/icon-configurations.svg"
        />
        <p class="card-widget-text">{{ languageClass.Configurations }}</p>
      </div>
    </div>
  </div>
</div>
