<div class="dashboard-main">
  <div class="modal-top">
    <div class="row-dashboard">
      <button
        type="submit"
        class="btn btn-dark login-button"
        style="margin-left: 7%"
        (click)="goBackToWriterDashboard()"
      >
        < Back
      </button>
    </div>
    <div class="welcome-box">
      <p
        class="welcome-text"
        *ngIf="writerService.memberCurrentMonthData != null"
      >
        {{ writerService.memberCurrentMonthData.FirstName }}
        {{ writerService.memberCurrentMonthData.MiddleName }}
        {{ writerService.memberCurrentMonthData.LastName }}
      </p>
    </div>
    <div class="welcome-box">
      <p class="welcome-text">
        {{ writerService.memberCurrentMonthData.PhoneNumber }}
      </p>
    </div>
    <p
      class="welcome-text"
      *ngIf="
        writerService.memberCurrentMonthData != null &&
        writerService.memberCurrentMonthData.PremiumStatus
      "
    >
      Paid to
      {{
        writerService.memberCurrentMonthData.PaidToPersonName +
          "-" +
          writerService.memberCurrentMonthData.PaidToPersonMobile
      }}
    </p>
  </div>
  <div class="row-dashboard">
    <div
      class="card"
      [ngClass]="
        writerService.memberCurrentMonthData.PremiumStatus
          ? 'card-col-green'
          : 'card-col-red'
      "
    >
      <div class="card-widget-body">
        <p class="card-widget-header-text-white">
          {{ writerService.memberCurrentMonthData.Premium }} Rs
        </p>
        <p class="card-widget-text-white">Premium need to pay</p>
      </div>
    </div>
    <div
      class="card"
      [ngClass]="
        writerService.memberCurrentMonthData.InterestStatus
          ? 'card-col-green'
          : 'card-col-red'
      "
    >
      <div class="card-widget-body">
        <p class="card-widget-header-text-white">
          {{ writerService.memberCurrentMonthData.InterestAmount }} Rs
        </p>
        <p class="card-widget-text-white">interest need to pay</p>
      </div>
    </div>
  </div>
  <div class="row-dashboard">
    <div
      class="card"
      [ngClass]="
        writerService.memberCurrentMonthData.InterestStatus
          ? 'card-col-center-green'
          : 'card-col-center-red'
      "
    >
      <form
        class="card-widget-body"
        [formGroup]="penaltyForm"
        (ngSubmit)="onAddEntry()"
      >
        <div class="input-group input-border">
          <input
            type="text"
            id="email"
            class="input-box form-control border-none"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="penalty"
            [ngClass]="{ 'is-invalid': submitted && form['penalty'].errors }"
          />
          <div class="input-error text-align-left">
            <div *ngIf="submitted && form['penalty'].errors">
              <div *ngIf="form['penalty'].errors['required']">
                Penalty is required
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-dark" style="margin-top: 3px">
          Add entry
        </button>
      </form>
    </div>
  </div>
  <div
    class="modal modal-bottom"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: doneDisplayStyle }"
    (click)="closeDonePopup()"
  >
    <div class="card card-modal">
      <div class="card-widget-body">
        <img
          class="card-modal-icon"
          src="../../../assets/logos/icon-done.svg"
        />
        <p class="card-modal-text">Entry Successful</p>
      </div>
    </div>
  </div>
  <div
    class="modal modal-bottom"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: somethingWentWrongStyle }"
    (click)="closeErrorPopup()"
  >
    <div class="card card-modal">
      <div class="card-widget-body">
        <img
          class="card-modal-icon"
          src="../../../assets/logos/icon-exclamation-mark.svg"
        />
        <p class="card-modal-text">Something Went Wrong</p>
      </div>
    </div>
  </div>
  <div
    class="modal modal-bottom"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: loadingDisplayStyle }"
  >
    <div class="card card-modal">
      <div class="card-widget-body">
        <img class="card-modal-icon" src="../../../assets/gifs/spinner.gif" />
        <p class="card-modal-text">Please Wait</p>
      </div>
    </div>
  </div>
</div>
