<div class="dashboard-main">
  <div class="modal-top">
    <div class="welcome-box">
      <p
        class="welcome-text"
        *ngIf="writerService.memberCurrentMonthData != null"
      >
        {{ writerService.memberCurrentMonthData.FirstName }}
      </p>
    </div>
  </div>
  <div class="row-dashboard">
    <div
      class="card"
      [ngClass]="
        writerService.memberCurrentMonthData.PremiumStatus
          ? 'card-col-green'
          : 'card-col-red'
      "
    >
      <div class="card-widget-body">
        <p class="card-widget-header-text-white">
          {{ writerService.memberCurrentMonthData.Premium }} Rs
        </p>

        <p class="card-widget-text-white">Premium need to pay</p>
      </div>
    </div>
    <div
      class="card"
      [ngClass]="
        writerService.memberCurrentMonthData.InterestStatus
          ? 'card-col-green'
          : 'card-col-red'
      "
    >
      <div class="card-widget-body">
        <p class="card-widget-header-text-white">
          {{ writerService.memberCurrentMonthData.InterestAmount }} Rs
        </p>
        <p class="card-widget-text-white">interest need to pay</p>
      </div>
    </div>
  </div>
</div>
