<div class="dashboard-main">
  <div class="modal-top">
    <div class="search-box">
      <div class="search-inner">
        <p class="search-text">Search member</p>
        <div class="input-group input-border">
          <div
            class="input-group-prepend border-none"
            style="align-self: center"
          >
            <i class="bi bi-person input-icon-size"></i>
          </div>
          <input
            type="text"
            id="email"
            style="margin-left: 3px"
            class="input-box form-control border-none"
            placeholder="Enter mobile number or name"
            aria-label="Username"
            aria-describedby="basic-addon1"
            [ngModel]="searchText"
            (ngModelChange)="writerService.searchMembers($event)"
          />
        </div>
      </div>
    </div>
    <p class="main-text">Member List</p>
    <div class="employee-list">
      <div *ngFor="let member of writerService.searchedMembersMonthlyDetails">
        <div class="row-dashboard">
          <div class="card-vehicle-entry" (click)="onSelectedMember(member)">
            <div class="card-body">
              <img
                class="employee-entry-text"
                [src]="
                  member.PremiumStatus && member.InterestStatus
                    ? '../../../assets/logos/icon-done.svg'
                    : '../../../assets/logos/icon-cancel.svg'
                "
                height="6%"
                width="6%"
              />
              <p class="employee-entry-text">{{ member.FirstName }}</p>
              <p class="employee-entry-text">{{ member.MiddleName }}</p>
              <p class="employee-entry-text">{{ member.PhoneNumber }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
